html, body {
  margin: 0;
  padding: 0;
  background-color:#F2F2F2;
  overflow-x:hidden;
}
.header{
background-color:#000;
  min-height:80px;
}
.header img{
height:90px;
  padding-top:10px ;
  padding-bottom:20px;
}
.header input{
background-color:transparent;
 border:0;
  border-radius:0;
  border-bottom:1px solid #fff;
  padding-left:0;
}
.icon-bar{
  border: 1px solid #999 !important;
}

.header input:focus{
box-shadow:none;
}


.header input:hover{
border-bottom:1px solid #1A77FF;
}

.header .btn{
border-bottom:1px solid #1A77FF;
  border-radius:0;
  color:#fff;
  text-align:center;
}


.header form{
margin-top:-65px;
 
}

.header form input, a{
font-size:12px; 
}

.navbar{
border:0;
  background-color:#152230;
  border-radius:0; 
  min-height:40px !important;

}

.navbar .active{
background-color:#1A77FF;
}
.navbar a{   
color:#fff;
  padding:0 0;
}
.navbar .nav a:hover{
background-color:#1A77FF;
}
.navbar .nav li a{
padding:10px 19px;
}
.navbar  li{
padding:0 2px;
}

.jumbotron{
background:url('https://s3.amazonaws.com/codecademy-content/projects/newsroom/bass-bg.jpg') no-repeat center center;
  background-size:cover;
  height:500px;
  margin-top:-20px;
}

.date{
color:#fff;
  font-weight:100 !important;
  font-size:14px !important;
}
.jumbotron h1, p{
color:#fff;
}
.jumbotron  span{
border-bottom: 5px solid #1A77FF;

}
 .tx {
font-weight:100 !important;
font-size:18px !important;
}
.jumbotron .col-md-5{
padding-left:40px;
}

.supporting {

}
.supporting .second{
background-color:#152230;
color:#fff;
  padding:20px 30px;
}
.supporting .first{
  padding:20px 30px;
  color:#333333 !important;
background-color:#fff;
}
.supporting .col-md-8 p{
color:#333333;
}

.supporting .row{
padding-bottom:60px;
  
}

.supporting span{
border-bottom: 3px solid #1A77FF;
  font-weight:bold;
  font-size:18px;
}
.supporting li .date{
padding:10px 0;
}

.supporting .col-md-8, .col-md-4{

}
.supporting .col-md-12{

}

.footer{
  color:#fff;
background-color:#000;
}
.footer .row{
padding:40px 0;
}

.footer li{
padding-right:30px;
}


@media (max-width: 801px) {
  .header img {
    padding-left:5px;}
  
  .navbar .nav li a{
    padding:10px 16px;
  }
  
  
  .header form {
    padding-bottom: 10px ;
    padding-right: 5px;
    
  
  }
}
@media (max-width: 500px) {
  .header img {
    padding: 0 3px;
    height:100%;
  }
.header form {
  padding-right: 3px;
    padding-bottom: 3px ;
    margin-top: 2px;
  }
  
  

}















